@import "@construct/editor/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    overflow: hidden;
    font-feature-settings: "cv11", "ss01";
  }
}
